{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<style>
      body {
          background-image: url(/static/img/create_update.jpg);
          background-size: cover;
          padding-top: 80px;
          margin: 0;
      }

      #contact-form label {
          color: #fff;
      }

      #contact-form input[type="text"],
      #contact-form input[type="password"],
      #contact-form textarea {
          background-color: rgba(255, 255, 255, 0.1);
          color: #fff;
      }


</style>
<section>
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
        <h3 class="text-center" style="color: #fff">{{ object|yesno:"Update,Create" }} redactor</h3>
        <form action="" id="contact-form" method="post" novalidate>
          <div class="card-body">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col-md-12">
              <button type="submit" class="btn bg-gradient-dark w-100">
                {{ object|yesno:"Update,Create" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
